@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
}

body {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  background: var(--cream);
}

h1,
p {
  margin: 0;
}

.half {
  width: 50%;
}

.card {
  margin: auto;
  max-width: 640px;
  display: flex;
  background: white;
  border-radius: 10px;
}

.img {
  display: block;
  max-width: 100%;
}

.card__img-desktop {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__img-mobile {
  display: none;
}

.card__info {
  padding: 30px;
}

.perfume {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}
.title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  max-width: 210px;
  white-space: break-spaces;
  margin-bottom: 30px;
}

.subtitle {
  color: grey;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.card__info-price {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.price-primary {
  margin-right: 20px;
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-cyan);
}

.price-line {
  color: grey;
  text-decoration: line-through;
}

.add-button {
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background: var(--dark-cyan);
  cursor: pointer;
}

.add-button:hover {
  background: hsl(158, 36%, 20%);
}

.add-button__icon {
  margin-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 6px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
